*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(60,215,45,1) 0%, rgba(30,30,229,1) 47%, rgba(232,16,97,1) 100%);
}
header img{
    width: 110px;
    height: 60px;
}
header ul{
    display: flex;
    list-style: none;
}
header ul a{
    display: flex;
    text-decoration: none;
    padding: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
header ul a:hover{
    color: aqua;
}
header input{
    width: 200px;
    height: 30px;
    margin-left: 100px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid black;
    border-right: none;
}
.taikhoan {
  margin-left: 20px;
 display: flex;
}
.taikhoan .dangnhap{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:burlywood;
}
.dangnhap:nth-child(2){
    margin-left: 5px;
}
.dangnhap:nth-child(2):hover{
    background: linear-gradient(90deg, rgba(215,53,45,1) 0%, rgba(229,187,30,1) 34%, rgba(36,145,220,1) 65%, rgba(95,16,232,1) 99%);   
}
.dangnhap:hover{
    background: linear-gradient(90deg, rgba(215,45,128,1) 0%, rgba(227,30,229,1) 37%, rgba(220,110,36,1) 73%, rgba(16,232,219,1) 99%);
}
.dangnhap a{
    display: flex;
    font-weight: bold;
    color: red;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}
header button{
    width: 70px;
    height: 30px;
    background-color:turquoise;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}
header button:hover{
    background-color: violet;
}
nav{
    position: relative;

}
nav .nut{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
}
.nut .left{
    color: rgb(170, 151, 151);
    font-size: 50px;
}
.nut .right{
    color: rgb(170, 151, 151);
    font-size: 50px;
    margin-left: 1415px;
}

nav{
   width: 100%;
    height: 500px;
}
nav .chitiet img{
    width: 500px;
    height: 300px;
    margin-left: 30%;
    margin-top: 100px;
}
nav .chitiet img:hover{
    animation: xoay 4s;
}
@keyframes xoay{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(45deg);
    }
}
nav .chitiet{
    display: flex;
}
nav .chitiet .chi{
    margin-top: 150px;
    margin-left: 100px;
}
.chi h2{
    font-size: 30px;
}
.chi button{
    width: 100px;
    height: 30px;
    background-color: violet;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 60px;
}
.chi p{
    padding: 5px 5px;
}
.chi p:nth-child(5){
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.chi button:hover{
    background-color: thistle;
}
.banor{
    margin-top: -4px;
    width: 100%;
    height: 400px;
    display: flex;
}
.nguoi img{
    width: 500px;
    height: 350px;
    margin-left: 100px;
}
.nguoi h1{
    font-size: 20px;
    margin-left: 250px;
}
.banor .nor{
    margin-left: 60px;
    margin-top: 30px;
}
.mau img{
    width: 100%;
}
.nor h1{
    font-size: 30px;
}
.banor p.a{
    margin-top: 30px;
}
.banor p{
    width: 700px;
    margin-top: 10px;
}
footer{
    margin-top: 5px;
    width: 100%;
    height: 490px;
   background-color:black;
   display: flex;
}
footer .chu{
    margin-left: 200px;
}
footer .chu img{
    width:200px;
    height: 110px;
    margin-top: 30px;
    margin-left: 100px;
}
footer .chu p{
    color: white;
    width: 200px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
}
footer .ban{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
footer .ban h3{
    font-size: 30px;
}
footer .ban p{
    margin-top: 10px;
}
footer .ban input{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
footer .ban .loi{
    color: red;
}
footer .ban button{
    width: 50px;
   border-radius: 0px 5px 5px 0px;
    height: 40px;
    color: white;
    background-color: rgb(60, 157, 236);
}
footer .ban span{
    color: white;
}
.dichvu{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
footer .cuoi{
    margin-top: 20px;
}
footer .p2{
    margin-left: 40px;
}
footer .p3{
    margin-left: 30px;
}
footer .p4{
    margin-left: 30px;
}