*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(215,207,45,1) 0%, rgba(30,229,193,1) 47%, rgba(190,16,232,1) 100%);
}
header img{
    width: 110px;
    height: 60px;
}
header ul{
    display: flex;
    list-style: none;
}
header ul a{
    display: flex;
    text-decoration: none;
    padding: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
header ul a:hover{
    color: aqua;
}
header input{
    width: 200px;
    height: 30px;
    margin-left: 200px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid black;
    border-right: none;
}

header button{
    width: 70px;
    height: 30px;
    background-color:turquoise;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}
header button:hover{
    background-color: violet;
}
nav{
    position: relative;

}
nav .nut{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
}
.nut .left{
    color: rgb(170, 151, 151);
    font-size: 50px;
}
.nut .right{
    color: rgb(170, 151, 151);
    font-size: 50px;
    margin-left: 1415px;
}

nav img{
   width: 100%;
    height: 500px;
}
.banor img{
    width: 100%;
    height: 600px;
    position: relative;
}
.banor .box{
    width: 450px;
    position: absolute;
    height: 380px;
    border-radius: 20px;
    top: 15%;
    left: 40%;
    background-color: white;
}
.box span{
    color: red;
}
.quen{
    display: flex;
    justify-content: space-between;
}
.quen a{
    display: flex;
    text-decoration: none;
}
.quen .quenmatkhau{
    margin-left: 20px;
    margin-top: 5px;
}
.quen .chuaco{
    display: flex;
    margin-right: 20px;
    margin-top: 5px;
}
.sdt input{
    width: 350px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid rgb(177, 174, 174);
    height: 40px;
    }
.box button{
    width: 90px;
    height: 35px;
    border-radius: 5px;
    background-color: violet;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 70%;
}
.box h1{
    font-size: 30px;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}
.box button:hover{
    background-color: yellowgreen;
}
.box p{
    display: flex;
    justify-content: center;
}
.box .sdt{
    margin-top: 20px;
    margin-left: 20px;
}
footer{
    margin-top: -5px;
    width: 100%;
    height: 490px;
   background-color:black;
   display: flex;
}
footer .chu{
    margin-left: 200px;
}
footer .chu img{
    width:200px;
    height: 110px;
    margin-top: 30px;
    margin-left: 100px;
}
footer .chu p{
    color: white;
    width: 200px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
}
footer .ban{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
footer .ban h3{
    font-size: 30px;
}
footer .ban p{
    margin-top: 10px;
}
footer .ban input{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
footer .ban .loi{
    color: red;
}
footer .ban button{
    width: 50px;
   border-radius: 0px 5px 5px 0px;
    height: 40px;
    color: white;
    background-color: rgb(60, 157, 236);
}
footer .ban span{
    color: white;
}
.dichvu{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
footer .cuoi{
    margin-top: 20px;
}
footer .p2{
    margin-left: 40px;
}
footer .p3{
    margin-left: 30px;
}
footer .p4{
    margin-left: 30px;
}